<html>
    <head>

        <script>
            var fb_app_id = '{{ FACEBOOK_APP_ID }}';
            var render_login_url = "{% url 'fqueryApp:render_login' %}";
            var make_query_url = "{% url 'fqueryApp:make_query' %}";

            var save_status_url = "{% url 'fqueryApp:save_statuses' %}";
            var save_link_url = "{% url 'fqueryApp:save_links' %}";
            var save_photo_url = "{% url 'fqueryApp:save_photos' %}";
            var save_post_url = "{% url 'fqueryApp:save_posts' %}";
            var save_note_url = "{% url 'fqueryApp:save_notes' %}";

        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"> </script>
        {% load static %}
        <script src="{% static 'js/utilities.js' %}"> </script>
        <script src="{% static 'js/init.js' %}"> </script>
        <script src="{% static 'js/status.js' %}"> </script>
        <script src="{% static 'js/photo.js' %}"> </script>
        <script src="{% static 'js/friend.js' %}"> </script>
        <script src="{% static 'js/comment.js' %}"> </script>
        <script src="{% static 'js/link.js' %}"> </script>
        <script src="{% static 'js/post.js' %}"> </script>
        <script src="{% static 'js/note.js' %}"> </script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}">
        
        <title>
            Welcome to fQuery HOME page!    
        </title>
    </head>
    <body>
        <h1>
            Welcome to fQuery    
        </h1>
        <h2>
            Search your previous statuses, posts, comments, links, photos on your and your friends' timeline
        </h2>
        <div id="fb-root"></div>
        <div>
          <fb:login-button
            id = "fblogin"
            show-faces="false"
            width="200"
            max-rows="1"
            autologoutlink="true"
            scope="user_status, friends_status,
                    user_photos, read_stream, 
                    user_notes, friends_status,
                    friends_notes, friends_photos">
          </fb:login-button>
        </div>


        <!-- <div id = "friend_list_div"></div> -->
        <div id = "status_list_length"></div>
        <div id = "photo_list_length"></div>
        <div id = "link_list_length"></div>
        <div id = "post_list_length"></div>
        <div id = "note_list_length"></div>
        <div id = "status_list_div"></div>
        <div id = "photo_list_div"></div>
        <div id = "link_list_div"></div>

        <div> 
            <label id = "search">Search
            <input type="text" name="keyword" id="txtKeyword" onkeypress="return runmakeQuery(event)">
            <button type="button" OnClick="makeQuery()">GO</button></label>
            <label>select friends</label><br>
            <form action="form_action.asp">
                <select id="select_friends" name="cars" multiple size=30>
                    <!-- <option value="volvo">Volvo</option>
                    <option value="saab">Saaasdfasdfb</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>

                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>

                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option> -->
                </select>
                <!-- <input type="submit"> -->
                <button type="button" OnClick="get_selected_friend_list()">submit</button>
            </form>
            <label>within</label><br>
        </div>
        <div>
            <label><input type="checkbox" name="content_type_box" value=1>statuses</label><br>
            <label><input type="checkbox" name="content_type_box" value=2>posts</label><br>
            <label><input type="checkbox" name="content_type_box" value=4>comments</label><br>
            <label><input type="checkbox" name="content_type_box" value=8>links</label><br>
            <label><input type="checkbox" name="content_type_box" checked=yes, value=16>photos</label><br>
<!--             <label><input type="checkbox" name="content_type_box" value=32>notes</label><br>
            <label><input type="checkbox" name="content_type_box" value=64>videos</label><br> -->

        </div>

        <div id = "query_content_div"></div>
        <br>
        <div id = "query_response_content_div"></div>

    </body>
</html>
