<html>
    <head>

        <script>
            var fb_app_id = '{{ FACEBOOK_APP_ID }}';
            var render_login_url = "{% url 'fqueryApp:render_login' %}";
            var make_query_url = "{% url 'fqueryApp:make_query' %}";

            var save_status_url = "{% url 'fqueryApp:save_statuses' %}";
            var save_link_url = "{% url 'fqueryApp:save_links' %}";
            var save_photo_url = "{% url 'fqueryApp:save_photos' %}";
            var save_post_url = "{% url 'fqueryApp:save_posts' %}";
            var save_note_url = "{% url 'fqueryApp:save_notes' %}";
            var num_types_retrieved_g = 0;

        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"> </script>
        {% load static %}
        <script src="{% static 'js/utilities.js' %}"> </script>
        <script src="{% static 'js/init.js' %}"> </script>
        <script src="{% static 'js/status.js' %}"> </script>
        <script src="{% static 'js/photo.js' %}"> </script>
        <script src="{% static 'js/friend.js' %}"> </script>
        <script src="{% static 'js/comment.js' %}"> </script>
        <script src="{% static 'js/link.js' %}"> </script>
        <script src="{% static 'js/post.js' %}"> </script>
        <script src="{% static 'js/note.js' %}"> </script>
        <script type="text/javascript">
            function select_all() {
                document.getElementById("status_checkbox").checked = 'yes';
                document.getElementById("post_checkbox").checked = 'yes';
                document.getElementById("comment_checkbox").checked = 'yes';
                document.getElementById("link_checkbox").checked = 'yes';
                document.getElementById("photo_checkbox").checked = 'yes';
            }
        </script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}">
        
        <title>
            Welcome to fQuery HOME page!    
        </title>
    </head>

    <style>
    a:link {color:#E9E9E9;}    /* unvisited link */
    a:visited {color:#4EB1BA;} /* visited link */
    </style>

    <body>
        <h1>
            Welcome to fQuery    
        </h1>
        <h2>
            Search your previous statuses, posts, comments, links, photos on your and your friends' timeline
        </h2>

        <div id="loadandlogin">
            <table>
                <tr>
                    <td>
                        <div id="loading">Retrieving your facebook timeline...</div>
                    </td>
                    <td>
                        <div id="progressbar-outer"> 
                             <div id="progressbar-inner"></div>
                        </div>
                    </td>
                    <td>
                        <div id="fb-root"></div>
                        <div>
                          <fb:login-button
                            id = "fblogin"
                            show-faces="false"
                            width="200"
                            max-rows="1"
                            autologoutlink="true"
                            scope="user_status, friends_status,
                                    user_photos, read_stream, 
                                    user_notes, friends_status,
                                    friends_notes, friends_photos">
                          </fb:login-button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <br>

        <!-- <div id = "friend_list_div"></div> -->
        <div id = "status_list_length" style="display: none;"></div>
        <div id = "photo_list_length" style="display: none;"></div>
        <div id = "link_list_length" style="display: none;"></div>
        <div id = "post_list_length" style="display: none;"></div>
        <div id = "note_list_length" style="display: none;"></div>
        <div id = "status_list_div" style="display: none;"></div>
        <div id = "photo_list_div" style="display: none;"></div>
        <div id = "link_list_div" style="display: none;"></div>

        <div id = "search_main"> 
            <div id="header"> 
            <label id = "search_txt">Search
            <input type="text" name="keyword" id="txtKeyword" onkeypress="return runmakeQuery(event)"disabled>
            <button type="button" id="btnMakeQuery" OnClick="makeQuery()" disabled>GO</button></label>
            </div>
            
            <div id= "content">
                <table>
                    <tr>
                        <td valign="top">
                        <div id = "content_left">
                            <label>select one friend you want to search about</label> 
                            <form action="form_action.asp">
                            <select id="select_friends" name="cars" size=30>
                            </select>
                            </form>
                        </div>
                        </td>

                        <td valign="top">
                        <div id = "content_middle">
                            <label>within</label><br>
                            <label><input id="status_checkbox" type="checkbox" name="content_type_box" value=1>statuses</label><br>
                            <label><input id="post_checkbox" type="checkbox" name="content_type_box" value=2>posts</label><br>
                            <label><input id="comment_checkbox" type="checkbox" name="content_type_box" value=4>comments</label><br>
                            <label><input id="link_checkbox" type="checkbox" name="content_type_box" value=8>links</label><br>
                            <label><input id="photo_checkbox" type="checkbox" name="content_type_box" value=16>photos</label><br>
                            <button type="button" OnClick="select_all()">
                                Everything
                            </button>
                        </div>
                        </td>

                        <td>
                            <div id = "query_response_content_div"> </div>
                        </td>
                    <tr>
                </table>
            </div>

            
            
            
        </div>

    </body>
</html>
