<html>
    <head>
        <script>
            var status_url = "{% url 'fqueryApp:save_statuses' %}";
            var link_url = "{% url 'fqueryApp:save_links' %}";
            var photo_url = "{% url 'fqueryApp:save_photos' %}";
            var note_url = "{% url 'fqueryApp:save_notes' %}";
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"> </script>
        {% load static %}
        <script src="{% static 'js/utilities.js' %}"> </script>
        <script src="{% static 'js/status.js' %}"> </script>
        <script src="{% static 'js/photo.js' %}"> </script>
        <script src="{% static 'js/friend.js' %}"> </script>
        <script src="{% static 'js/comment.js' %}"> </script>
        <script src="{% static 'js/link.js' %}"> </script>
        <script src="{% static 'js/post.js' %}"> </script>
        <script src="{% static 'js/note.js' %}"> </script>

        <title>
            Welcome to fQuery HOME page!    
        </title>
        Welcome to fQuery HOME page!
    </head>
    <body>

        <div id="fb-root"></div>
        <div>
          <fb:login-button
            show-faces="false"
            width="200"
            max-rows="1"
            autologoutlink="true"
            scope="user_status, friends_status
                    user_photos, read_stream, 
                    user_notes">
          </fb:login-button>
        </div>


        <!-- <div id = "friend_list_div"></div> -->
        <div id = "status_list_length"></div>
        <div id = "photo_list_length"></div>
        <div id = "link_list_length"></div>
        <div id = "post_list_length"></div>
        <div id = "note_list_length"></div>
        <div id = "status_list_div"></div>
        <div id = "photo_list_div"></div>
        <div id = "link_list_div"></div>

        <div>
            <label>Search</label>
            <input type="text" name="keyword" id="txtKeyword" onkeypress="return runmakeQuery(event)">
            <button type="button" OnClick="makeQuery()">GO</button><br>
            <label>within</label><br>
            <input type="checkbox" name="content_type_box" checked=yes, value=1>statuses<br>
            <input type="checkbox" name="content_type_box" checked=yes, value=2>posts<br>
            <input type="checkbox" name="content_type_box" value=4>comments<br>
            <input type="checkbox" name="content_type_box" value=8>links<br>
<!--        <input type="checkbox" name="content_type_box" value=16>photos<br>
            <input type="checkbox" name="content_type_box" value=32>notes<br>
            <input type="checkbox" name="content_type_box" value=64>videos<br> -->

        </div>

        <div id = "query_content_div"></div>
        <br>
        <div id = "query_response_content_div"></div>


        <script>
        function sendQuery(query, content_type){
            $.getJSON(
                "{% url 'fqueryApp:make_query' %}",
                {query : query, content_flags : content_type},
                function(server_response) {

                    content_list_obj = server_response.data;
                    log(content_list_obj);
                    
                    var flagDict = getFlagDictionary();

                    var content_list_div = document.createElement("div");
                    for (content_type in content_list_obj){
                        log('parsing content type: ' + flagDict[content_type]);

                        var one_type_list = document.createElement("ul");

                        var one_type_div = document.createElement("div");
                        one_type_div.innerHTML = flagDict[content_type] + ": ";
                        content_list_div.appendChild(one_type_div);

                        for (var i = 0; i < content_list_obj[content_type].length; ++i){

                            var one_piece_content = document.createElement("li");
                            one_piece_content.innerHTML = content_list_obj[content_type][i].msg;
                            one_type_list.appendChild(one_piece_content);

                        }

                        content_list_div.appendChild(one_type_list);
                    }
                    var query_response_content_div = document.getElementById("query_response_content_div");
                    while (query_response_content_div.firstChild) {
                        query_response_content_div.removeChild(query_response_content_div.firstChild);
                    }
                    query_response_content_div.appendChild(content_list_div);
                })
        }

        </script>

        <script>


            function save_posts(list){
                $.post(
                        "{% url 'fqueryApp:save_posts' %}",
                        JSON.stringify(list),
                        function(server_response) {
                        log(server_response);
                        }
                );
            }


            window.fbAsyncInit = function() {
                FB.init({
                  appId      : '{{ FACEBOOK_APP_ID }}',
                  status     : true,
                  xfbml      : true
                });
          

                FB.Event.subscribe('auth.authResponseChange', function(response) {
                    if (response.status === 'connected') {
                      console.log("Logged in!");
                      testAPI();

                    } else {
                      window.location = "{% url 'fqueryApp:render_login' %}";
                      console.log("Not loggedin");
                    }
                  });
            };

          (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));


          function testAPI(){
              console.log('Welcome!  Fetching your information.... ');
              FB.api('/me', function(response) {
                console.log('Good to see you, ' + response.name + '.');
                window.my_id = response.id;
                window.my_name = response.name;
                console.log('ID: ', response.id);
              })
              // get_friend_list();
              get_statuses();
              get_pictures();
              get_links();
              get_posts();
              get_notes();

          }
        </script>
    
    </body>
</html>
